<mat-card>
  <mat-card-title>Cadastrar Estabelecimento</mat-card-title>
  <form class="form-estabelecimento">
    <div class="form-group">

      <mat-form-field class="razao-social">
        <mat-label>Razão Social</mat-label>
        <input matInput >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Número CRF-PJ</mat-label>
        <input matInput >
      </mat-form-field>

    </div>

    <div class="form-group">

      <mat-form-field>
        <mat-label>Nome Fantasia</mat-label>
        <input matInput >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ramo de Atividade</mat-label>
        <input matInput >
      </mat-form-field>

      <mat-form-field>
        <mat-label>CNPJ</mat-label>
        <input matInput >
      </mat-form-field>

    </div>

    <div class="form-group">

      <mat-form-field>
        <mat-label>CEP</mat-label>
        <input matInput >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Endereço (logradouro)</mat-label>
        <input matInput >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Numero</mat-label>
        <input matInput >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Complemento</mat-label>
        <input matInput >
      </mat-form-field>

    </div>

    <div class="form-group">

      <mat-form-field>
        <mat-label>Estado</mat-label>
        <input matInput >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Cidade</mat-label>
        <input matInput >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Bairro</mat-label>
        <input matInput >
      </mat-form-field>

    </div>

    <div class="form-group">

      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Telefone Fixo</mat-label>
        <input matInput >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Celular</mat-label>
        <input matInput >
      </mat-form-field>

    </div>
  </form>
</mat-card>
